:root {
  --white-text-color: #ffffff;
  --title-color: #212121;
  --main-text-color: #757575;
  --hover-color: #2196f3;
  --bg-btn-color: #2196f3;
  --btn-hover-color: #188ce8;
  --bg-color: #2f303a;
  --bg-section-color: #f5f4fa;
  --clients-icon-color: #afb1b8;
  --bg-network-footer-color: #44454e;
  --transition-time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  /* background: rgba(47, 48, 58, 0.8); */
}

/* Сброс точек в списках */

.list {
  list-style: none;
}

/* Сброс подчёркиваний ссылок */

.link {
  text-decoration: none;
}

/* Сброс маржинов и падингов h,p,ul */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Основной контейнер */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Параметры секций */

.section {
  padding: 94px 0;
}

/* Визуальное скрытие */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Центрирование текста */

.text-center {
  text-align: center;
}

/* Параметры img */

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Блоки под иконки в Преимуществах */

.bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-section-color);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

/* Маржин для иконок в кнопках */

.button-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Фон логотипов клиентов */

.bg-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

/* Маржин для логотипов клиентов */

.bg-clients:nth-last-child(n) {
  margin-right: 30px;
}

/* Обёртка для хедера */

.header-wrap {
  display: flex;
  align-items: center;
}

/* Рамка в хедере */

.border {
  border-bottom: 1px solid #ececec;
}

/* Синяя часть логотипа в хедере */

.blue-logo-part {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hover-color);
}

/* Тёмная часть доготипа в хедере */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-color);
}

/* Отступ в лого */

.margin-logo {
  margin-right: 90px;
}

/* Ссылка лого в хедере */

.header-link {
  display: inline-block;
  padding: 32px 0;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

/* Ховер и фокус лого в хедере */

.contacts-link:hover,
.contacts-link:focus {
  color: var(--hover-color);
}

/* Отступы между ссылками в навигации хедера */

.list-flex .m-left + .m-left {
  margin-left: 50px;
}

/* Контакты хедера */

.header-contacts {
  display: flex;
  margin-left: auto;
}

/* Подсветка ссылки выбранной страницы */

.list-flex .link.current {
  color: var(--btn-hover-color);
  position: relative;
}

/* Подчёркивание текущей страницы */

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}
/* Отступ первого элемента списка контактов в хедере */

.header-contacts-item:first-child {
  margin-right: 30px;
}
/* Ссылка на электронную почту в хедере */

.contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  transition: color 250ms var(--timing-function);
}

/* Заголовок Героя */

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* Кнопка: универсальные параметры */

.btn {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

/* Фон и падинг Героя */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Кнопка с базовыми стилями */

.base-button {
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--bg-btn-color);
  transition: background-color 250ms var(--timing-function);
}

/* Универсальные ховер и фокус кнопок */

.base-button:hover,
.base-button:focus {
  background-color: var(--btn-hover-color);
}

/* Заголовок преимуществ */

.benefit-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-color);
}

/* Пункт списка преимуществ */

.benefit-item {
  width: 270px;
}

/* Отступ между пунктами списка преимуществ */

.benefit-item + .benefit-item {
  margin-left: 30px;
}

/* Текст преимуществ */

.benefit-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Сброс верхнего паддинга в works */

.works {
  padding-top: 0;
}

/* Заголовок примеров работ */

.title-text {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* Секция Команда  */

.team {
  background-color: var(--bg-section-color);
}

/* Карточка сотрудника */

.card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-text-color);
}

/* Флекс-контейнер для списков команды и работ */

.team-list,
.address,
.works-list,
.footer-network,
.list-flex,
.benefits-list,
.footer-network {
  display: flex;
}

/* Отступы для для пунктов списков работ и команды */

.works-picture + .works-picture,
.team-employee + .team-employee {
  margin-left: 30px;
}

/* Пункты списка сотрудников */

.team-employee {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Враппер для employee */

.employee-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

/* Имена сотрудников */

.employee-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* Должности сотрудников */

.employee-position {
  color: var(--main-text-color);
  margin-top: 10px;
}

/* Блоки соцсетей */

.network {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

/* Геометрия для ссылок */

.network-link {
  border-radius: 50%;
  color: var(--clients-icon-color);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--timing-function),
  background-color 250ms var(--timing-function);
}

.network-link:hover,
.network-link:focus {
  background-color: var(--hover-color);
  color: var(--white-text-color);
}

.network-link svg {
  fill: currentColor;
}

.portfolio-link {
  display: block;

  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-wrap::after, .portfolio-link:focus .portfolio-wrap::after{
  transform: translateY(0);
}

.portfolio-link:hover .overlay-text, .portfolio-link:focus .overlay-text {
  transform: translateY(0);
}

/*  */
.network-item {
  margin-right: 10px;
}

/* Фон для иконок соцсетей */

.network-icon-bg {
  background-color: var(--bg-network-footer-color);
}

/* Маржин иконок соцсетей */

.network-icon:nth-last-child(n) {
  margin-right: 10px;
}

/* Ховер и фокус иконок соцсетей */

.network-icon:hover,
.network-icon:focus {
  background-color: var(--hover-color);
  fill: var(--white-text-color);
}

/* Выравнивание по базовой линии */

.baseline {
  align-items: baseline;
}

/* Логотипы клиентов геометрия */

.clients {
  margin-right: 30px;
}

/* Цвет логипов клиентов */

.clients-icon {
  border-radius: 4px;
  border: 1px solid var(--clients-icon-color);
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  color: var(--clients-icon-color);
  transition: color 250ms var(--timing-function),
  border-color 250ms var(--timing-function);
}

.clients-color {
  fill: currentColor;
}

/* Ховер и фокус логотипов клиентов */

.clients-icon:hover,
.clients-icon:focus {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

.footer-network {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 95px;
  display: flex;
}

/* Левый блок в футере */

.footer-leftblock {
  margin-right: 70px;
}

/* Отступ для лого в футере */

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Ссылка на адрес на карте в футере */

.address-contacts {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  transition: color 250ms var(--timing-function);
}

/* Ховер и фокус ссылки на адрес на карте в футере */

.address-contacts:hover,
.address-contacts:focus {
  color: var(--hover-color);
}

/* Цвет ссылки на карту в футере */

.white {
  color: var(--white-text-color);
}

/* Маржин на список в адресе */

.address-list .list {
  margin-bottom: 9px;
}

/* Сброс маржинов в списках */

.clients:last-child {
  margin-right: 0;
}

/* Присоединяйтесь в футере  */

.white-upper-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.17;
}

.footer-join {
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}



/* Иконки соцсетей в футере */

.footer .network-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-text-color);
  transition: background-color 250ms var(--timing-function);
}

/* Ховер и фокус на иконки соцсетей в футере */

.footer .network-link:hover,
.footer .network-link:focus {
  background-color: var(--btn-hover-color);
}

.footer-form-input {
  margin-right: 12px;
  padding-left: 16px;
  outline: none;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}

.footer-mailing {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.btn-mailing {
  padding: 10px 62px 10px 29px;
}

/* ---------Страница Портфолио---------- */

/* Список кнопок в портфолио */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* Отступ между кнопками фильтра */

.filter-item + .filter-item {
  margin-left: 8px;
}

/* Кнопки фильтра в портфолио */

.filter-btn {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

/* Ховер и фокус кнопок в фильтре */

.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--btn-hover-color);
  color: var(--white-text-color);
}

/* Падинги кнопок фильтра */

.btn-all {
  padding: 6px 22px;
}

/* Обёртка для портфолио  */

.my-portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

/* Элементы портфолио */

.portfolio-list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

/* Сброс марджинов для каждого третьего элемента портфолио */

.portfolio-list:nth-child(3n) {
  margin-right: 0;
}

/* Сброс отступов последних трёх элементов портфолио */

.portfolio-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* Обёртка для текста в портфолио */

.text-wrap {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/* Заголовок Портфолио */

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

/* Основной текст под каждым из проектов в портфолио */

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-wrap {
  position: relative;
  display: block;
  overflow: hidden;
}

/* Оверлей для картинки в портфолио */

.portfolio-wrap::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-time) var(--timing-function);
}

.overlay-text {
  position: absolute;
  z-index: 1;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  transform: translateY(100%);
  transition: transform var(--transition-time) var(--timing-function);
}

/* Стили для модального окна */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  background-color: var(--bg-section-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.privacy {
  display: flex;
  justify-content: center;
}

.modal-field {
  margin-bottom: 10px;
}

.pos-rel {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 28px;
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal-input {
  padding-left: 42px;
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
}

.modal-input:focus, .modal-input:hover,
.modal-text-area:focus, .modal-text-area:hover {
  border: 1px solid var(--hover-color);
  transition: 250ms;
}

.modal-input:focus + .input-icon,
.modal-input:hover + .input-icon {
  fill: var(--hover-color);
  transition: 250ms;
}

.input:hover + .label,
.input:focus + .label {
  border: 1px solid var(--hover-color);
  border-radius: 4px;
  color: var(--hover-color);
  transition: 250ms;
}

.modal-label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}

.modal-text-area {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  outline: none;
}
  
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-weight: 400;
  color: #757575;
  display: flex;
  margin-bottom: 30px;
}

.check-text span {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  margin-right: 5px;
  display:block;
}

.check-icon {
  position: relative;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  fill: transparent;
}

.mailing-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: var(--hover-color);
  border: none;
}

.input-check:checked + .check-text .check-icon {
  fill: #FFFFFF;
}

.check-text a {
  color: rgba(33, 150, 243, 1);
}

.modal-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  background-color: var(--bg-btn-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--white-text-color);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
  transition: 250ms;
}

input[name="acception"] {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn:focus,
.close-btn:hover {
  cursor: pointer;
  border: 1px solid var(--hover-color);
}